* {
    box-sizing: border-box;
}
body {
background-color: hsl(0, 0%, 94%);
}
.containerx {
width: 70%;
margin-left: auto;
margin-right: auto;
box-sizing: border-box;
background-color: hsl(0, 0%, 94%);
padding: 20px;
border: 1px solid hsl(259, 100%, 65%);
/*border radius*/
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 250px;
}
.inputs div {
    display: inline-block;
    margin: 12px;
}
#labelD, #labelM, #labelY {
    font-family: bold;
    color: hsl(0, 1%, 44%);
}
#erD, #erM, #erY {
    font-family: normal;
    color: hsl(0, 100%, 67%);
    text-align: center;
    visibility: hidden;
    position: absolute;
}
.inputs div>input[type="text"] {
    width: 150px;
    padding: 5px 15px;
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: 6px;
    font-family: bold;
    font-size: 32px;
}
@font-face {
font-family: normal;
src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
font-family: bold;
src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: bolditalic;
    src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
.btn hr {
    width: 570px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: middle;
}
.btn button {
    background-image: url(./assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    background-color: hsl(259, 100%, 65%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid hsl(259, 100%, 65%);
    display: inline-block;
    vertical-align: middle;
}
.btn button:active {
    background-color: hsl(0, 0%, 8%);
}
.display div>p {
    display: inline;
    font-size: 80px;
    font-family: bolditalic;
    color: hsl(0, 0%, 8%);
}
#dispD, #dispM, #dispY {
    color: hsl(259, 100%, 65%);
}
@media screen and (max-width:400px) {
    .btn button {
        width: 50px;
        height: 50px;
    }

}
@media screen and (max-width:767px) {
    .display div {
        text-align: center;
    }
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .display div  {
        display: inline-block;
        margin-left: 5px;
    }
}
@media screen and (max-width:991px) {
    .containerx {
        width: 70%;
        border-bottom-right-radius: 90px;
    }
    .display div>p {
        font-size: 30px;
    }
    .inputs div{
        text-align: center;
        width: 99%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .inputs div>input[type="text"] {
        text-align: center;
        width: 100px;
        padding: 5px 15px;
        font-size: 20px;
        margin-top: -15px;
    }
    ::-webkit-input-placeholder {
        text-align: center;
    }
    .btn {
        width: 99%;
    }
    .btn hr {
        display: none;
    }
    .btn button {
        width: 50px;
        height: 50px;
    }
    #erD, #erM, #erY {
        font-size: 13px;
        text-align: center;
    }
    #labelM, #labelY {
        margin-top: -10px;
    }
}